[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "thirdparty/ImGuizmo"]
	path = thirdparty/ImGuizmo
	url = https://github.com/gprabowski/ImGuizmo
